<div class="jumbotron" ng-controller="UserController">
	<br />
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 text-center"></div>
			<div class="col-xs-4 col-sm-4 col-md-4 text-center">

				<div class="form-group">
					<label class="sr" for="username">Tài khoản </label> <input
						id="username" type="text" class="form-control" ng-model="username"
						placeholder="please type you user name" required />
				</div>
				<div class="form-group">
					<label class="sr" for="inputPassword">Mật khẩu</label> <input
						id="inputPassword" type="password" class="form-control"
						ng-model="password" required
						placeholder="please type your password">
				</div>
				<br />
				<button class="btn btn-lg btn-primary btn-block" name="login"
					ng-click="login()">đăng nhập</button>


			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 text-center"></div>

		</div>
	</div>
</div>
