/* custom css for location upload form */
.form-location {
	border: 1px solid #dddddd;
	padding: 1em;
	margin: 1em auto;
}

.form-location legend {
	font-size: 1.45em;
	color: #858585;
	padding: 0 0.5em;
}

.form-location label {
	font-size: 1.45em;
	padding: 0 0.35em;
	display: inline;
	float: left;
}

.form-location input {
	vertical-align: baseline;
}

.form-location .step1 p {
	padding: 4px 0;
}

.form-location .step1 input[type=text] {
	display: inline;
	width: 98%;
	padding: 3px;
}

.form-location .step2 textarea {
	font-size: 1.8em;
	line-height: 160%;
	width: 98%;
	padding: 2px;
}

.form-location .step3 input[type="range"] {
	display: inline;
	width: 98%;
}

.fileupload-buttonbar {
	display: block;
}
/*
.btn {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	display: inline-block;
	padding: 4px 12px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
}
*/
.fileinput-button {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462),
		to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462',
		endColorstr='#ff51a351', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.progressbar {
	clear: both;
}

.progressbar, .bar {
	height: 16px;
}

.template-upload, .template-download {
	width: 25%;
	list-style-type: none;
}

#upload_cover_files .template-upload, #upload_cover_files .template-download
	{
	width: 50%;
}

.template-upload button, .template-download button {
	border: 1px solid #696969;
	background: #f5f5f5;
}

.template-upload .outer {
	position: relative;
	border: 1px solid #dcdcdc;
	margin: 2px;
	padding: 2px;
}

.template-upload .outer span.cancel {
	position: absolute;
	top: 0;
	right: 0;
}

.template-download .outer {
	position: relative;
	border: 1px solid #dcdcdc;
	margin: 2px;
	padding: 2px;
}

.template-download .outer span.delete {
	position: absolute;
	top: 0;
	right: 0;
}

#location_upload label.error {
	display: none;
	position: relative;
	margin-top: -1.7em;
	color: #cd5c5c;
}

.fileConvert-loading {
	position: absolute;
	left: 50%;
	width: 128px;
	height: 128px;
	background: url(../img/loading.gif) center no-repeat;
	display: none;
}

.scrollOrderNumberWindow {
	width: 100%;
	height: 400px;
	overflow: scroll;
}

/*for ordernumber.html - fixed table header*/
.table-fixed thead {
	width: 98%;
}

.table-fixed tbody {
	height: 230px;
	overflow-y: auto;
	width: 100%;
}

tr {
	height: 40px !important;
	min-height: 40px !important;
	max-height: 60px !important;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td,
	.table-fixed th {
	display: block;
}

.table-fixed tbody td, .table-fixed thead>tr>th {
	float: left;
	border-bottom-width: 0;
}

/*for ordernumber.html - fixed table header*/

/* override some style in boostrap*/
.well {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 0;
	min-height: 10px;
	padding: 19px;
}

.well-sm {
	border-radius: 3px;
	padding: 5px;
	text-co
}

.right {
	float: right;
	padding: 10px;
}

.text-default {
	color: black;
	font-weight: 100;
}

.text-default-bold {
	color: black;
	font-weight: 700;
}

label {
	display: inline-block;
	font-weight: 700;
	margin-bottom: 5px;
	margin-left: 5px;
	max-width: 100%;
}

a {
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 5px;
}

.scroll-panel {
	height: 300px;
	overflow: scroll;
	width: 100%;
}

.navbar-brand img {
	height: 30px;
}

.ix_jumbotron_login img {
	
}

.navbar-default {
	background-color: white;
	border-color: white;
}

.center {
	text-align: center;
}

.ix_jumbotron_login {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-radius: 0;
	height: 70px;
	padding: 0;
}

.ix_jumbotron {
	background: rgba(0, 0, 0, 0) url("/resources/img/Voorpagina.jpg")
		no-repeat scroll center center;
	border-radius: 0;
	height: 355px;
	margin-bottom: 0;
	text-align: center;
}

.ix_loginform .form-login {
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	width: 700px;
}

.form-login input[type="password"] {
	margin-bottom: 10px;
}

.form-control {
	
}

.disclaimer_login {
	color: #333;
	margin: 0 auto;
	max-width: 700px;
	min-width: 350px;
	padding: 10px;
}

#copyright {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 22px;
	margin: 0;
}

.bg_copyright_footer {
	background: #00b4de none repeat scroll 0 0;
	color: #cce5ef;
}

body {
	padding-bottom: 50px;
}

.modal-lg {
	width: 80%;
}

.bootstrap-select .dropdown-menu span.text {
	display: block;
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: inherit;
	white-space: normal;
}
.selectpicker{
	display: block;
}