
<div id="modalSuaDonHang" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Sửa Ðơn Hàng</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-xs-2 col-sm-2 col-md-2 text-left">

							<label>Mua từ đối tác</label>

						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 text-left">

							<select class="selectpicker" data-live-search="true"
								data-width="100%">
								<option data-tokens="ketchup mustard">Hot Dog, Fries
									and a Soda</option>
								<option data-tokens="mustard">Burger, Shake and a Smile</option>
								<option data-tokens="frosting">Sugar, Spice and all
									things nice</option>
							</select>


						</div>

						<div class="col-xs-2 col-sm-2 col-md-2 text-left">

							<label>Đối tác đặt hàng</label>

						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 text-left">

							<select class="selectpicker" data-live-search="true"
								data-width="100%" data-live-search="true" data-liveSearchNormalize="true">
								<option value="inprocess" selected>Ðang Nhập adag
									adgahj hagdah hjagdah hagdhgah hagdahdg agdahg hagdahgd hagdad
									agdahg ahgdahgd</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>


							</select>

						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-xs-2 col-sm-2 col-md-2 text-left">

							<label>Trạng Thái</label>

						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 text-left">

							<select class="selectpicker" data-live-search="true"
								data-width="100%">
								<option value="inprocess" selected>Ðang Nhập</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>

							</select>

						</div>

						<div class="col-xs-2 col-sm-2 col-md-2 text-left">

							<label>Ghi chú</label>

						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 text-left">

							<textarea class="form-control" rows="3" cols="70" id="comment"></textarea>

						</div>
					</div>

					<br />
					<div class="row">
						<div class="col-xs-2 col-sm-2 col-md-2 text-left">

							<label>Hàng Hóa</label>

						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 text-left">

							<select class="selectpicker" data-live-search="true"
								data-width="100%">
								<option value="inprocess" selected>Dell Monitor</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>
								<option value="done" selected>Hoàn tất</option>


							</select>

						</div>

						<div class="col-xs-2 col-sm-2 col-md-2 text-left">
							<div class="form-group">
								<label>Số lượng</label>
							</div>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 text-left">

							<input type="text" maxlength="100" class="form-control">

						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 text-left">

							<button class="btn btn-success" type="button" id="resetButton"
								ng-click="">thêm</button>

						</div>
					</div>
					<br />
					<div class="row">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 text-left">Panel
										with panel-primary class</div>
									<div class="col-xs-6 col-sm-6 col-md-6 text-left">
										<button class="btn btn-success btn-xs btn-block" type="button"
											id="resetButton" ng-click="">
											<span class="label label-danger">Lưu đơn hàng</span>
										</button>
									</div>


								</div>
							</div>
							<div class="panel-body" style="height: 250px; overflow-y: auto">

								<div class="row">

									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>#</th>
												<th>Mã Hàng Hóa</th>
												<th>Tên Hàng Hóa</th>
												<th>SL</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
											<tr>
												<td>1</td>
												<td>SSJGSH-dsysgdysd</td>
												<td>dây cáp máy tính , lap top</td>
												<td><input class="form-control" type="text" value="10"
													width="10%"></td>
												<td><span class="glyphicon glyphicon-remove"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>