<!DOCTYPE html>

<!-- define angular app -->
<html>
<head>

<meta charset="UTF-8">
<!-- SCROLLS -->
<link rel="stylesheet"
	href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="resources/signin.css">
<link rel="stylesheet" href="resources/tableFixed.css">
<link rel="stylesheet"
	href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">

</head>

<!-- define angular controller -->
<body>
	
	<nav class="navbar navbar-inverse  navbar-fixed-top"
		ng-controller="MenuBarController">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Đông Nam</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="javascript:void(0)">Danh Mục <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#!vattuhanghoa">Vật tư hàng hóa</a></li>
							<li><a href="#!doitac">Đối tác</a></li>
							<li><a href="#!khohang">Kho Hàng</a></li>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Nghiệp vụ <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#!donhang">Tạo Đơn Hàng</a></li>
							<li><a href="#!nhapxuatkho">Tạo Phiếu nhập/xuất hàng </a></li>
							<li><a href="#!nhaphoadon">Tạo Hóa đơn</a></li>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Báo Cáo <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#!tonkho">Tồn kho</a></li>
							<li><a href="#!doanhthu">Doanh Thu </a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="isLogged == true"><a href="#"><span
							class="glyphicon glyphicon-user"></span> Xin Chào {{username}}</a></li>
					<li ng-if="isLogged == false"><a href="#!login"><span
							class="glyphicon glyphicon-log-in"></span> Đăng Nhập</a></li>
					<li ng-if="isLogged == true"><a href="#!login" ng-click="logout()"><span
							class="glyphicon glyphicon-log-in"></span> Đăng Xuất</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div id="main">

		<!-- angular templating -->
		<!-- this is where content will be injected -->
		<div ng-view></div>

	</div>

	<footer class="text-center">
		<p>Công ty TNHH Đông Nam</p>

		<p>R74 KP7 Võ Thị Sáu Phường Thống Nhất, Biên Hòa, Đồng Nai</p>

		<p>Email: admin@donahitech.vn</p>
	</footer>

	<!-- SPELLS -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>

	<!-- module danh muc -->
	<script src="app/danhmuc/danhmuc.client.module.js"></script>
	<script src="app/danhmuc/controllers/vattuhanghoa.controller.js"></script>
	<script src="app/danhmuc/controllers/khohang.controller.js"></script>
	<script src="app/danhmuc/controllers/doitac.controller.js"></script>
	<script src="app/danhmuc/danhmuc.client.routes.js"></script>
	<!-- module danh muc -->

	<!-- module bao cao -->
	<script src="app/baocao/baocao.client.module.js"></script>
	<script src="app/baocao/controllers/doanhthu.controller.js"></script>
	<script src="app/baocao/controllers/tonkho.controller.js"></script>
	<script src="app/baocao/baocao.client.routes.js"></script>
	<!-- module bao cao -->

	<!-- module nghiep vu -->
	<script src="app/nghiepvu/nghiepvu.client.module.js"></script>
	<script src="app/nghiepvu/controllers/donhang.controller.js"></script>
	<script src="app/nghiepvu/controllers/nhaphoadon.controller.js"></script>
	<script src="app/nghiepvu/controllers/nhapxuatkho.controller.js"></script>
	<script src="app/nghiepvu/nghiepvu.client.routes.js"></script>
	<!-- module nghiep vu -->

	<!-- module user -->
	<script src="app/user/user.client.module.js"></script>
	<script src="app/user/services/user.service.js"></script>
	<script src="app/user/controllers/user.controller.js"></script>
	<script src="app/user/user.client.routes.js"></script>
	<!-- module user -->


	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script
		src="bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

	<!-- Start angular application -->
	<script src="app/dongnamApplication.js"></script>
	
	<div id="wait"
		style="display: none; width: 69px; height: 89px; border: 1px solid black; position: absolute; top: 50%; left: 50%; padding: 2px;">
		<img src='resources/images/gears.gif' width="64" height="64" /><br>Loading..
	</div>
</body>

</html>
